dpkt
pillow
mysql-python
sqlalchemy
jinja2
python-magic
pymongo
bottle
chardet
dnspython
psycopg2
pygal
jsbeautifier
lxml
cybox
maec
distorm3
pefile
pycrypto
pyvmomi
flask
geoip
django
git+https://github.com/jsocol/django-ratelimit
uwsgi
